SELECT 
    {{.Cols}} 
FROM bots 
{{if .Query}}
    {{range $table := .PlatformTables}}
    INNER JOIN {{$table}} {{$table}}_users ON bots.bot_id = {{$table}}_users.id
    {{end}}
{{end}}
WHERE (type = 'approved' OR type = 'certified')

-- Guild count filter (1-2)
AND ($1 = 0 OR servers >= $1)
AND ($2 = 0 OR servers <= $2)

-- Votes filter (3-4)
AND ($3 = 0 OR approximate_votes >= $3)
AND ($4 = 0 OR approximate_votes <= $4)

-- Shards filter (5-6)
AND ($5 = 0 OR shards >= $5)
AND ($6 = 0 OR shards <= $6)

-- Tags filter
AND (cardinality($7::text[]) = 0 OR tags {{.TagMode}} $7) -- Where TagMode is one of @> = all, && = any

{{if .Query}}
AND (
    short @@ $8 OR bot_id = $8 OR client_id = $8
    {{range $index, $table := .PlatformTables}}
        OR {{$table}}_users.username @@ $8 OR {{$table}}_users.username ILIKE $9
    {{end}}
)
{{end}}

ORDER BY approximate_votes DESC, type DESC LIMIT 12
